## Collection of Simmelian Ties Data

    # ... a collection of nodes with transitive reciprocal ties.
****Transitive users:**** 
These anchors are bidirectionally conencted to the first generation anchor and are used to retreive additional set of users who are bidirectioanlly connected to the second generation anchor. Whenever the buddies of the second generation anchors appear (or a single buddy) in the set of the first generation anchor, then a transitivity is established.

In [120]:
import pandas as pd
import numpy as np
from collections import Counter, defaultdict
import json, time, os, re

In [7]:
cd ~/analysis/transitivity

/home/ijdutse/analysis/transitivity

An example of some stats about nodes ...

In [128]:
# Collection of Dyads from Transitive Users:
df = pd.read_csv('~/analysis/transitivity/directed/directed_and_reciprocated_users_training_sets.csv')
len(df); df.head()

,ScreenName,FollowersCount,FriendsCount,Lineage,Status,Class,NetworkSize,Indegree,Outdegree
369,GMan82721611,273,585,jackcade1381:GMan82721611,Child,1,858,0.318182,0.681818
152,jjpaldad,92,130,NaN,Parent,1,222,0.414414,0.585586
546,bordersnbetween,502,1270,FredSeguinPhoto:bordersnbetween,Child,1,1772,0.283296,0.716704
1745,monica_remy,3353,4172,ModernBullWagyu:monica_remy,Child,1,7525,0.445581,0.554419
545,editions_g,4,5,FredSeguinPhoto:editions_g,Child,1,9,0.444444,0.555556

**Data collection** for training a prediction model ...

In [150]:
# directed users:
df = pd.read_csv('directed/second_gen_directed_unverified_anchors_and_buddies.csv')
len(df); df.head(3)

,Dyad,B1_ID,B1_ScreenName,B1_CreatedAt,B1_Followers,B1_Friends,B1_Statuses,B1_Description,B1_Location,B1_Favourite,...,B2_Statuses,B2_Description,B2_Location,B2_Favourite,B2_Verification,B2_Tweet,B2_AccountCreated,B2_RTCount,Status,Class
0,"('S4JJ40', 'Ghufran23924906')",744012835311730689,S4JJ40,2016-06-18 03:44:17,983,433,1631,‏‏‏‏‏‏‏‏‏‏‏‏‏‏‏‏‏\nرَبَّنَا آتِنَا فِي الدُّنْ...,Kunar ~ Pekhawar,2938,...,4,NaN,NaN,3,False,RT @INReunification: Holi at Quaid-i-Azam Univ...,2019-03-25 19:49:51,84.0,Directed,0
1,"('S4JJ40', 'NajmRT')",744012835311730689,S4JJ40,2016-06-18 03:44:17,983,433,1631,‏‏‏‏‏‏‏‏‏‏‏‏‏‏‏‏‏\nرَبَّنَا آتِنَا فِي الدُّنْ...,Kunar ~ Pekhawar,2938,...,2733,#Peace #Respect #love . Engineer #UETi...,NaN,1909,False,Some Lucky Cats in Baitullah Makkah 😻 https://...,2019-04-15 15:39:22,0.0,Directed,0
2,"('S4JJ40', 'Fatabbayanoo')",744012835311730689,S4JJ40,2016-06-18 03:44:17,983,433,1631,‏‏‏‏‏‏‏‏‏‏‏‏‏‏‏‏‏\nرَبَّنَا آتِنَا فِي الدُّنْ...,Kunar ~ Pekhawar,2938,...,53,Afghan / Durrani / Parsi Pataan 🏳🏴Youtube Has ...,Graveyard Of SuperPowers,1,False,Fatabayanoo Productions Afghan Nasheed...,2019-04-16 09:46:23,0.0,Directed,0

**Set of Transitive nodes** in the following three dataframes are all related hence, transitivty is established due to the dydic ties in the dataframe. The **consolidation** of the three generations in triplets e.g. $parent:child:grandchild$ ... In the forthcoming examples (and the previous ones), the values in the dataframes are availbale/connected to the first generation anchors, to second generation anchor via the parent nodes. The collection of bidirectionally connected buddies/friends.

In [159]:
#df = pd.read_csv('first_generation_verified_anchors_and_buddies.csv')
#df = pd.read_csv('second_generation_verified_anchors_and_buddies.csv')
df = pd.read_csv('third_generation_verified_anchors_and_buddies.csv')
df.head(3)

,G3_Anchor,ChildID,ChildScreenName,Lineage,ChildFriends,ChildFollowers,PairwiseSize,Tracker
0,amydempsey,119818938,ZosiaBielski,amydempsey:ZosiaBielski,911,2588,1,"(1, 999)"
0,DACrosbie,197458714,DanDelmar,DACrosbie:DanDelmar,860,4666,1,"(1, 999)"
0,NickVanPraet,119818938,ZosiaBielski,NickVanPraet:ZosiaBielski,911,2588,3,"(3, 997)"

In [163]:
#transitive users:

In [167]:
#df2 = pd.read_csv('oldfiles/second_generation_anchors_and_buddies.csv')
#df = pd.read_csv('oldfiles/second_generation_anchors_and_buddies1.csv')
df = pd.read_csv('oldfiles/second_generation_unique_anchors_and_buddies_anchors.csv')
df.head()

,G2_Anchor,Lineage,BuddyID,BuddyScreenName,BuddyFriends,BuddyFollowers
0,vmochama,genna_buck:vmochama:alexgpaterson,16711211,alexgpaterson,993,920
1,vmochama,genna_buck:vmochama:ShelleyBFarmer,839456750000558080,ShelleyBFarmer,1118,1364
2,vmochama,genna_buck:vmochama:amydempsey,21677048,amydempsey,1263,3749
3,vmochama,genna_buck:vmochama:JakePyne,1041790149925851136,JakePyne,999,1591
4,vmochama,genna_buck:vmochama:TurnbullSarah,355132182,TurnbullSarah,1258,827